@using EntityLayer.Concrete
@model List<Share>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<br />
<h2>Paylaştığım Kitaplar</h2>
<br />
<table class="table table-hover table-bordered">

    <tr>
        <th style="width: 1%">#</th>
        <th>Kitap Adı</th>
        <th>Kitabın Konusu</th>
        <th>Kategori</th>
        <th style="width: 15%">Kitabın Resmi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <button class="btn btn-outline-success btn-block ">@item.ProductId</button>
                <br /><br />
                <br /><br /><br />
            </td>
            <td>@item.Product.ProductName</td>
            <td>@item.Product.ProductDescription</td>
            <td>@item.Product.Category.CategoryName</td>
            <td style="text-align: center;">
                <a href="/UserPanelComment/CommentByProduct/@item.ProductId" class="btn btn-light">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img alt="" class="img-fluid" width="100" height="75" src="@item.Product.ProductImage">
                        </li>
                    </ul>
                </a>
                <a href="/Share/DeleteProduct/@item.ProductId" class="btn btn-danger btn-block">Paylaşımdan Çıkar</a>
            </td>
        </tr>
    }
</table>


